# Final Project

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
metering = pd.read_csv('../../datasets/forge/ForgeMetering7Day.csv', sep=',')
metering.count()

user_id       122270
product_id    122269
custom_3      122270
count         122270
dtype: int64

In [3]:
nitrogen = pd.read_csv('../../datasets/forge/Nitrogen-filecreate-7days.csv', sep=',')
nitrogen.count()

context_user      24392
source_service    24392
consumer_src      24392
count             24392
dtype: int64

In [4]:
oxygen = pd.read_csv('../../datasets/forge/Oxygen-OAuth7days.csv', sep=',')
oxygen.count()

context_user    6277884
consumer_src    6277884
count           6277884
dtype: int64

In [5]:
metering.head()

   user_id                   product_id custom_3  count
0  1017245  urn:adsk:service:project:v1      GET     14
1  1017482  urn:adsk:service:project:v1      GET      5
2  1037105     urn:adsk:service:data:v1      GET    149
3  1037105     urn:adsk:service:data:v1     POST  19498
4  1037105  urn:adsk:service:project:v1      GET    106

In [7]:
nitrogen.head()

      context_user source_service consumer_src  count
0          1077231     3602Legged           my      1
1  111078209133841     3602Legged           my      1
2  111078370893553            fps           my      1
3  112410258699142     3602Legged           my      3
4  112410258699142          cloud           my      1

In [8]:
oxygen.head()

  context_user consumer_src  count
0        -----         pfly     64
1      1007964         adlm      1
2      1007964      autocad      1
3      1007964       dsspws      8
4      1007964      fusiond      7

In [11]:
oxygen.describe()

              count
count  6.277884e+06
mean   2.262632e+01
std    4.186897e+02
min    1.000000e+00
25%    2.000000e+00
50%    3.000000e+00
75%    7.000000e+00
max    4.413330e+05