# MLB Pitch Data

https://www.kaggle.com/pschale/mlb-pitch-data-20152018/home

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
atbats = pd.read_csv('../../datasets/mlb/atbats.csv', sep=',')
atbats.count()

ab_id         740389
batter_id     740389
event         740389
g_id          740389
inning        740389
o             740389
p_score       740389
p_throws      740389
pitcher_id    740389
stand         740389
top           740389
dtype: int64

In [7]:
atbats.head()

,ab_id,batter_id,event,g_id,inning,o,p_score,p_throws,pitcher_id,stand,top
0,2015000001,572761,Groundout,201500001,1,1,0,L,452657,L,True
1,2015000002,518792,Double,201500001,1,1,0,L,452657,L,True
2,2015000003,407812,Single,201500001,1,1,0,L,452657,R,True
3,2015000004,425509,Strikeout,201500001,1,2,0,L,452657,R,True
4,2015000005,571431,Strikeout,201500001,1,3,0,L,452657,L,True

In [4]:
games = pd.read_csv('../../datasets/mlb/games.csv', sep=',')
games.count()

g_id                9718
attendance          9718
away_final_score    9718
away_team           9718
date                9718
elapsed_time        9718
home_final_score    9718
home_team           9718
start_time          9718
umpire_1B           9718
umpire_2B           9715
umpire_3B           9718
umpire_HP           9718
venue_name          9718
weather             9718
wind                9718
delay                506
dtype: int64

In [8]:
games.head()

,g_id,attendance,away_final_score,away_team,date,elapsed_time,home_final_score,home_team,start_time,umpire_1B,umpire_2B,umpire_3B,umpire_HP,venue_name,weather,wind,delay
0,201500001,"35,055",3,sln,2015-04-05,3:04,0,chn,7:17 PM,Mark Wegner,Marty Foster,Mike Muchlinski,Mike Winters,Wrigley Field,"44 degrees, clear","7 mph, In from CF",NaN
1,201500002,"45,909",1,ana,2015-04-06,2:33,4,sea,1:12 PM,Ron Kulpa,Brian Knight,Vic Carapazza,Larry Vanover,Safeco Field,"54 degrees, cloudy","1 mph, Varies",NaN
2,201500003,"36,969",2,atl,2015-04-06,2:36,1,mia,4:22 PM,Laz Diaz,Chris Guccione,Cory Blaser,Jeff Nelson,Marlins Park,"80 degrees, partly cloudy","16 mph, In from CF",:16
3,201500004,"31,042",6,bal,2015-04-06,3:01,2,tba,3:12 PM,Ed Hickox,Paul Nauert,Mike Estabrook,Dana DeMuth,Tropicana Field,"72 degrees, dome","0 mph, None",NaN
4,201500005,"45,549",8,bos,2015-04-06,3:01,0,phi,3:08 PM,Phil Cuzzi,Tony Randazzo,Will Little,Gerry Davis,Citizens Bank Park,"71 degrees, partly cloudy","11 mph, Out to RF",NaN

In [14]:
pitches = pd.read_csv('../../datasets/mlb/pitches.csv', sep=',')
pitches.count()/1e6

ab_id              2.867162
ax                 2.852973
ay                 2.852973
az                 2.852973
b_count            2.867162
b_score            2.867162
break_angle        2.852973
break_length       2.852973
break_y            2.852973
code               2.854505
end_speed          2.853048
nasty              2.852973
on_1b              2.867162
on_2b              2.867162
on_3b              2.867162
outs               2.867162
pfx_x              2.853020
pfx_z              2.853020
pitch_num          2.867162
pitch_type         2.852973
px                 2.852973
pz                 2.852973
s_count            2.867162
spin_dir           2.852973
spin_rate          2.852973
start_speed        2.853048
sz_bot             2.865079
sz_top             2.865079
type               2.867162
type_confidence    2.852973
vx0                2.852973
vy0                2.852973
vz0                2.852973
x                  2.867162
x0                 2.852973
y                  2.867162
y0                 2.852973
z0                 2.852973
zone               2.852973
dtype: float64

In [13]:
pitches.head(20)

,ab_id,ax,ay,az,b_count,b_score,break_angle,break_length,break_y,code,...,type_confidence,vx0,vy0,vz0,x,x0,y,y0,z0,zone
0,2.015000e+09,7.665,34.685,-11.960,0,0,-25.0,3.2,23.7,C,...,2.000,-6.409,-136.065,-3.995,101.140000,2.280,158.780000,50.0,5.302,3.0
1,2.015000e+09,12.043,34.225,-10.085,0,0,-40.7,3.4,23.7,S,...,2.000,-8.411,-135.690,-5.980,124.280000,2.119,175.410000,50.0,5.307,5.0
2,2.015000e+09,14.368,35.276,-11.560,0,0,-43.7,3.7,23.7,F,...,2.000,-9.802,-137.668,-3.337,136.740000,2.127,150.110000,50.0,5.313,1.0
3,2.015000e+09,2.104,28.354,-20.540,0,0,-1.3,5.0,23.8,B,...,2.000,-8.071,-133.005,-6.567,109.685636,2.279,187.463482,50.0,5.210,13.0
4,2.015000e+09,-10.280,21.774,-34.111,1,0,18.4,12.0,23.8,B,...,2.000,-6.309,-110.409,0.325,146.527525,2.179,177.242829,50.0,5.557,13.0
5,2.015000e+09,13.590,32.274,-10.333,2,0,-45.7,3.7,23.7,X,...,2.000,-6.943,-136.012,-5.738,118.004772,2.273,164.467012,50.0,5.264,6.0
6,2.015000e+09,14.549,31.469,-9.734,0,0,-46.3,3.6,23.7,B,...,2.000,-11.032,-136.208,-7.762,141.430000,2.013,205.810000,50.0,5.179,13.0
7,2.015000e+09,-1.339,27.421,-19.326,1,0,7.3,4.8,23.8,D,...,0.778,-6.335,-130.711,-4.611,186.410000,2.298,182.540000,50.0,5.284,7.0
8,2.015000e+09,13.808,28.169,-11.591,0,0,-45.0,4.0,23.8,B,...,2.000,-5.075,-134.873,-5.723,93.100000,2.402,174.060000,50.0,5.310,14.0
9,2.015000e+09,1.218,28.828,-19.782,1,0,2.0,4.9,23.8,B,...,0.648,-9.239,-130.512,-4.904,135.831493,2.165,182.991946,50.0,5.302,13.0
10,2.015000e+09,15.709,32.602,-15.243,2,0,-39.0,4.8,23.7,E,...,2.000,-9.247,-135.366,-6.130,116.816324,2.080,165.744594,50.0,5.211,13.0
11,2.015000e+09,17.411,26.452,-22.438,0,1,-34.4,6.3,23.8,F,...,2.000,-8.704,-132.380,-2.685,109.380000,2.253,167.420000,50.0,5.301,5.0
12,2.015000e+09,8.889,29.431,-13.790,0,1,-25.5,3.7,23.8,F,...,2.000,-8.801,-132.554,-3.666,145.250000,1.977,159.670000,50.0,5.343,11.0
13,2.015000e+09,-6.127,19.641,-33.690,0,1,11.6,11.0,23.9,S,...,2.000,-5.266,-111.822,-0.053,144.100000,2.299,185.560000,50.0,5.443,13.0
14,2.015000e+09,8.804,27.829,-13.421,0,1,-23.8,3.6,23.8,B,...,2.000,-11.143,-133.652,-7.151,175.660000,2.047,197.610000,50.0,5.192,13.0
15,2.015000e+09,11.942,30.614,-9.890,1,1,-40.0,3.3,23.8,F,...,2.000,-10.439,-135.959,-7.183,150.580000,2.182,187.800000,50.0,5.255,13.0
16,2.015000e+09,10.656,28.744,-14.824,1,1,-30.3,4.1,23.8,F,...,2.000,-7.273,-133.377,-3.730,113.340000,2.089,163.340000,50.0,5.280,5.0
17,2.015000e+09,14.373,30.975,-14.596,1,1,-37.2,4.5,23.8,F,...,2.000,-9.375,-135.055,-7.179,130.910000,2.144,197.790000,50.0,5.248,13.0
18,2.015000e+09,-1.244,26.386,-23.266,1,1,7.0,5.8,23.8,S,...,0.763,-9.531,-130.424,-6.624,181.080000,2.108,215.160000,50.0,5.192,13.0
19,2.015000e+09,-16.390,29.322,-18.593,0,0,38.0,6.0,23.8,B,...,2.000,2.889,-131.001,-7.351,177.420000,-1.474,192.340000,50.0,5.967,13.0

In [6]:
player_names = pd.read_csv('../../datasets/mlb/player_names.csv', sep=',')
player_names.count()

id            2218
first_name    2218
last_name     2218
dtype: int64

In [10]:
player_names.head()

       id first_name   last_name
0  452657        Jon      Lester
1  425794       Adam  Wainwright
2  457435       Phil        Coke
3  435400      Jason       Motte
4  519166       Neil     Ramirez

In [12]:
player_names['id' == 572761]

KeyError: False